/* :root {
    --primary: #FF3E41;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
    --btn_primary: #FF3E41 !important;
} */

* {
    box-sizing: border-box;
    text-decoration: none !important;
}

.carousel .thumbs{
    display: none;
}
.carousel .slide .legend{
    opacity: 1;
    transition: all .5s ease-in-out;
    bottom: 40px;
    left: 25%;
    width: 45%;
    margin-left: 0px;
    border-radius: 10px;
    background: #206ba9;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.carousel .slide .legend p{
    font-size: 16px;
}
.carousel .slide .legend:hover{
    background: #18588d;
}
.carousel .carousel-status{
    display: none;
}
.carousel.carousel-slider .control-arrow{
    color: #fff;
    font-size: 26px;
    padding: 5px;
    background: #206ba9;
    width: 50px;
    height: 50px;
    top: 50%;   
    border-radius: 5px;
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow{
    opacity: 1;
}
.carousel .control-arrow{
    margin-top: 0px;
}
.carousel.carousel-slider .control-arrow:hover{
    border: 1px solid #206ba9;
    border-radius: 5px;
    background: rgb(250, 244, 244)
}
.carousel .control-next.control-arrow{
    right: 2%;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid white;
}
.carousel .control-prev.control-arrow:before{
    border-right: 8px solid white;
}
.carousel .control-next.control-arrow:hover:before{
    border-left: 8px solid #206ba9;
}
.carousel .control-prev.control-arrow:hover:before{
    border-right: 8px solid #206ba9;
}
.carousel .slide{
    height: 70vh;
}
.carousel .control-prev.control-arrow{
    left:2%
}

